.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  height: 175px;
}

.featureItem {
  position: relative;
  padding-bottom: 40px;
}

.featureButton {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}
