/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HoloCure background recreation for hero banner. */
#holocureBackground {
  background: linear-gradient(#4abef9, #2992d9);
  color: white;
}

#holocureBars {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/img/bars.png");
  animation: barAnimation 3.5s linear infinite;
}

.holocureContainer {
  z-index: 1;
}

@keyframes barAnimation {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -420px;
  }
}
